/* You can add global styles to this file, and also import other style files */
@import '../node_modules/splash-screen/dist/splash-screen.min.css'; 
body {
	padding-top: 5rem;
}

.div-flexitem {
	flex-grow: 1
}

.ancillary-features-green {
	color: green;
}

.ancillary-features-red {
	color: red;
}




